@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  background-color: white;
  margin: 150px auto 0;
}

.pic {
  border-radius: 50%;
  position: relative;
  top: -120px;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}
